.wrapper #contenido-unico {
    color: plum;
}

.wrapper.activo #contenido-unico {
    color: lightcoral;
}

main .wrapper.activo #contenido-unico {
    color: blue;
}

.main {
    border-style: solid;
    border-color: blueviolet;
    border-width: 1px;
    padding-left: 10px;
}

.wrapper {
    border: solid 10px green;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 200px;
    height: 100px;
}